.corner {
	border-top: 1px solid black !important;
	border-right : 1px solid black !important;
	border-left: 1px solid black !important;
	border-bottom: 1px solid black !important;
	height: 20% !important;
	width: 9% !important;
	background-color: #cde6d0;
	padding:0;
	margin:0;
	font-size:10px;
}

#rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}


.right {
	border-right: 1px solid black !important;
}

.bottom {
	border-bottom: 1px solid black !important;
}

.bottom-right {
	border-right: 1px solid black !important;
	border-bottom: 1px solid black !important;
}

.none {
	border: 0px !important;
}

/*plateau de jeu*/

#monop {
	height: 55%;
	margin-left: 1%;
	margin-top: 13%;
}

/*
td, th {
	background-color: yellowgreen;
}

#player_board {
	width: 20%;
	position: relative;
	top: 125px;
	right: 260px;
}*/

/*#departure {
	background-color: red;
}

#wind {
	background-color: lightblue;
}

#gaz {
	background-color: brown;
}

#chemistry {
	background-color: magenta;
}

#recy {
	background-color: orange;
}

#geo {
	background-color: green;
}

#water {
	background-color: blue;
}

#nuke {
	background-color: grey;
}

#sun {
	background-color: yellow;
}*/

