body {
	height: 100%;
	width: 100%;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #cde6d0;
}

#board {
	height: 100% !important;
	width: 100% !important;
}

#chemistry, #recy, #special {
	height: 200px !important;
}

#table_size {
	height: 100% !important;
	width: 100% !important;
}

.corner {
	border-top: 1px solid black !important;
	border-right : 1px solid black !important;
	border-left: 1px solid black !important;
	border-bottom: 1px solid black !important;
	height: 20% !important;
	width: 9% !important;
	background-color: #cde6d0;
	padding:0;
	margin:0;
	font-size:10px !important;
}

#size {
	background-color: yellow;
	height: 10% !important;
	width: 10% !important;
}

/*.corner:first-child {
	background-color: yellow;
	width: 200000000px !important;
}

.corner:nth-child(6n+11) {
	background-color: yellow;
}*/

.player_border {
	border-style: none;
}

/*#replace {
	position: relative;
	bottom: 45px !important;
	height: 20px !important;
}*/

#rotate90 {
	transform: rotate(90deg) !important;
	position: relative !important;
	top: 40px !important;
}

#rotate180 {
	transform: rotate(180deg);
	position: relative !important;
	top: 1px !important;
}

#rotate270 {
	transform: rotate(270deg);
	position: relative !important;
	top: 40px !important;
}


.right {
	border-right: 1px solid black !important;
}

.bottom {
	border-bottom: 1px solid black !important;
}

.bottom-right {
	border-right: 1px solid black !important;
	border-bottom: 1px solid black !important;
}

.none {
	border: 0px !important;
	width: 50px !important;
}

/*plateau de jeu*/

#monop {
	height: 40% !important;
	margin-left: 15% !important;
	margin-top: 5% !important;
	transform: rotate(-25deg) !important;
}

#player_call {
	margin-top: 7%;
	text-align: center;
	font-size: 20px;
	color: #C82100;
}

#resume {
	margin-top: 3% !important;
	margin-left: 7% !important;
	width: 85% !important;
}

#underline {
	border-bottom:5px dotted #C82100 !important;
	padding: 0 0 0 0 !important;
}

#special {
	font-size: 0px;
	/*background-color: yellow !important;*/
}

#virer_carre_blanc {
	background-color: transparent !important;
}

#special_case {
	background-color: transparent !important;
	border-top: 1px solid transparent !important;
	border-right : 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
}

#regular_case {
	background-color: transparent !important;
	/*font-size: 0px;
	background-color: transparent !important;
	border: 2px black;*/
}

#title {
	background-color: #cde6d0 !important;
}

/*
, th {
	background-color: yellowgreen;
}

#player_board {
	width: 20%;
	position: relative;
	top: 125px;
	right: 260px;
}*/

/*#departure {
	background-color: red;
}

#wind {
	background-color: lightblue;
}

#gaz {
	background-color: brown;
}

#chemistry {
	background-color: magenta;
}

#recy {
	background-color: orange;
}

#geo {
	background-color: green;
}

#water {
	background-color: blue;
}

#nuke {
	background-color: grey;
}

#sun {
	background-color: yellow;
}*/


@media all and (max-width:1366px) {

	#rotate90 {
		-webkit-transform: rotate(90deg) !important;
		-moz-transform: rotate(90deg) !important;
		-o-transform: rotate(90deg) !important;
		-ms-transform: rotate(90deg) !important;
		transform: rotate(90deg) !important;
	}
	
	#rotate180 {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	#rotate270 {
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
		position: relative !important;
		top: 40px !important;
	}

	#monop {
		height: 35% !important;
		margin-left: 5% !important;
		margin-top: 5% !important;
		transform: rotate(-25deg) !important;
	}

}

